__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints
debug*
*.h5
log/
diskcache_*
results_*
*.egg-info
.vscode
.idea
*diskcache*
*tmp*
.ipynb_checkpoints
__pycache__
*.ipynb
*.h5
/output/
/output_cached/
.idea
*diskcache*
*tmp*
.ipynb_checkpoints
__pycache__
*.ipynb
*.h5
/output/
/output_cached/
